.highlight-number {
    font-size: 2rem;
    font-weight: bold;
    color: #ff5722;
}

.section-heading {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.icon {
    font-size: 2rem;
    margin-right: 10px;
}